<span class="text-red-400">
  <% if error[:errors].size == 1  %>
    <%= t("models.user.#{error[:attr].to_s}") + " #{error[:errors].first}" %>
  <% elsif error[:errors].size > 1 %>
    <% name = t("models.user.#{error[:attr].to_s}") %>
    <%= error[:errors].map { |err| "#{name} #{err}." }.join(' <br> ').html_safe %>
  <% end %>
</span>
