@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --color-primary: #A52E57;
  --color-accent: #D46A92;
  --color-info: #F5B041;
}

html, body {
  @apply w-full h-full;
  font-family: "JetBrains Mono", monospace;
}

@theme {
  --animate-bounce-slowed: bounce 2s infinite;

  @keyframes bounce_slowed {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

#buttonsWrapper {
  @apply flex h-[70px] w-full justify-between mt-3 sm:h-auto;
}

#buttonsWrapper > .btn {
  @apply h-3/4 sm:h-auto sm:p-2;
}
